name: Aikido Security
on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  aikido-security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Detect new vulnerabilities
        uses: AikidoSec/github-actions-workflow@v1.0.13
        with:
          secret-key: ${{ secrets.AIKIDO_SECRET }}
          fail-on-timeout: true
          fail-on-dependency-scan: true
          fail-on-sast-scan: true
          fail-on-iac-scan: true
          minimum-severity: "HIGH"
          timeout-seconds: 90
          post-scan-status-comment: "off"
          post-sast-review-comments: "off"
          github-token: ${{ secrets.GITHUB_TOKEN }}
